@model HospitalWeb.Clases.MedicamentoCSL

@{
    ViewData["Title"] = "Create";

    List<SelectListItem> lista = ViewBag.listaForma;

}

<h1>Nuevo Medicamento</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="frmWeb">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
            <label asp-for="iidMedicamento" class="control-label"></label>
            <input asp-for="iidMedicamento" class="form-control" />
            <span asp-validation-for="iidMedicamento" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>

            @* Inicia nuevos datos *@
            <div class="form-group">
                <label asp-for="concentracion" class="control-label"></label>
                <input asp-for="concentracion" class="form-control" />
                <span asp-validation-for="concentracion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="iidFormaFarmaceutica" class="control-label"></label>
                
                <select asp-for="iidFormaFarmaceutica" class="form form-control" asp-items="@lista">

                </select>

                <span asp-validation-for="iidFormaFarmaceutica" class="text-danger"></span>
            </div>

            @* Termina nuevos datos *@
            <div class="form-group">
                <label asp-for="precio" class="control-label"></label>
                <input asp-for="precio" class="form-control" >
                <span asp-validation-for="precio" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="nombreFormaFarmaceutica" class="control-label"></label>
                <input asp-for="nombreFormaFarmaceutica" class="form-control" />
                <span asp-validation-for="nombreFormaFarmaceutica" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="stock" class="control-label"></label>
                <input asp-for="stock" class="form-control" type="number" />
                <span asp-validation-for="stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit"  value="Guardar" class="btn btn-primary" />
                <a class="btn btn-danger" asp-action="Index">Regresar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<script>
    function Guardar() {

        //document.getElementById("idEspecialidad").value = id;
        //codigo de pop up

        //Validar()

        Swal.fire({
            title: "Desea agregar el registro?",
            text: "Desea agregar la informacion en la base de datos",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si!'
        }).then((result) => {
            if (result.value) {
                //enviar a base de datos
                var frmWeb = document.getElementById("frmWeb");
                frmWeb.submit();


                Swal.fire({
                    position: 'top-end',
                    icon: 'success',
                    title: 'Cambios guardados exitosamente!',
                    showConfirmButton: false,
                    timer: 1500
                })

            }
        })


    }

    }
</script>