@model HospitalWeb.Clases.MedicamentoCSL

@{
    ViewData["Title"] = "Edit";
    List<SelectListItem> lista = ViewBag.listaForma;
}

<h1>Edit</h1>

<h4>MedicamentoCSL</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="iidMedicamento" class="control-label"></label>
                <input asp-for="iidMedicamento" class="form-control" />
                <span asp-validation-for="iidMedicamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="precio" class="control-label"></label>
                <input asp-for="precio" class="form-control" />
                <span asp-validation-for="precio" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="nombreFormaFarmaceutica" class="control-label"></label>
                <input asp-for="nombreFormaFarmaceutica" class="form-control" />
                <span asp-validation-for="nombreFormaFarmaceutica" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="stock" class="control-label"></label>
                <input asp-for="stock" class="form-control" />
                <span asp-validation-for="stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="iidFormaFarmaceutica" class="control-label"></label>
                @*<input asp-for="iidFormaFarmaceutica" class="form-control" />*@
                
                <select asp-for="iidFormaFarmaceutica" class="form form-control" asp-items="@lista">
                </select>

                <span asp-validation-for="iidFormaFarmaceutica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="concentracion" class="control-label"></label>
                <input asp-for="concentracion" class="form-control" />
                <span asp-validation-for="concentracion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="presentacion" class="control-label"></label>
                <textarea asp-for="presentacion" class="form-control"></textarea>
                <span asp-validation-for="presentacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
