@model CURSO01.Clases.PaginaCLS

@{
    ViewData["Title"] = "Agregar";
}

<h1>Agregar</h1>

<h4>PaginaCLS</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Agregar" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="iidPagina" class="control-label"></label>
                <input asp-for="iidPagina" class="form-control" />
                <span asp-validation-for="iidPagina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mensaje" class="control-label"></label>
                <input asp-for="mensaje" class="form-control" />
                <span asp-validation-for="mensaje" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="accion" class="control-label"></label>
                <input asp-for="accion" class="form-control" />
                <span asp-validation-for="accion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="controlador" class="control-label"></label>
                <input asp-for="controlador" class="form-control" />
                <span asp-validation-for="controlador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

