
@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<h1>
    Registrar usuario
</h1>

<div>

    <button class="btn btn-success">
        Registrar
    </button>

    <a asp-controller="Login" asp-action="Index">
        Regresar
    </a>
</div>


