
@{
    ViewData["Title"] = "Index";
    Layout = null;

}

<h1>registrar Usuario</h1>


<div>
    <button class="btn btn-success">Registrar</button>
    <a asp-area="" asp-controller="Login" asp-action="Index" class=" btn btn-danger">
        Regresar
    </a>
</div>

