@model WebCRUD.TipoUsuarioCLS

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>TipoUsuarioCLS</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="frmEnviar" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="iidTipoUsuario" class="control-label"></label>
                <input asp-for="iidTipoUsuario" class="form-control" />
                <span asp-validation-for="iidTipoUsuario" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="nombre" class="control-label"></label>
                <input asp-for="nombre" class="form-control" />
                <span asp-validation-for="nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descripcion" class="control-label"></label>
                <input asp-for="descripcion" class="form-control" />
                <span asp-validation-for="descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="button" value="Guardar" onclick="abrirModal()" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


<script>
    function abrirModal() {
        Swal.fire({
            title: "Desea guardar los datos?",
            text: "Desea guadar la informacion en la base de datos",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si!'
        }).then((result) => {
            if (result.value) {
                //enviar a base de datos
                var frmEnviar = document.getElementById("frmEnviar");
                frmEnviar.submit();
            }
        })
    }
</script>
